In [1]:
# import the data set
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\ABC\Desktop\weatherHistory.csv")
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,1016.16,Partly cloudy starting in the morning.

In [3]:
# dataset.info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  int64
 8   Visibility (km)           96453 non-null  float64
 9   Pressure (millibars)      96453 non-null  float64
 10  Daily Summary             96453 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 8.1+ MB

In [4]:
# dataset.head()
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.

In [5]:
# dataset.index
data.index

RangeIndex(start=0, stop=96453, step=1)

In [12]:
# dataset name["col name"].unique()
data["Precip Type"].unique()

array(['rain', 'snow', nan], dtype=object)

In [10]:
# show data
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.

In [11]:
# dataset name["col name"].nunique()
data["Wind Speed (km/h)"].nunique()

2484

In [13]:
# dataset name["col name"].unique()
data["Wind Speed (km/h)"].unique()

array([14.1197, 14.2646,  3.9284, ..., 37.0622, 35.5971, 30.751 ])

In [14]:
# show data
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.

In [16]:
# value_counts()
data["Precip Type"].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [18]:
# using filtering
data[data["Precip Type"] == "snow"]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
1562,2006-12-13 02:00:00.000 +0100,Foggy,snow,-0.483333,-4.150000,1.00,11.0929,219,0.4830,1031.56,Foggy throughout the day.
1563,2006-12-13 03:00:00.000 +0100,Foggy,snow,-0.483333,-4.061111,0.96,10.7387,200,0.3220,1031.47,Foggy throughout the day.
1564,2006-12-13 04:00:00.000 +0100,Foggy,snow,-0.922222,-3.477778,1.00,7.0679,206,0.1610,1031.23,Foggy throughout the day.
1565,2006-12-13 05:00:00.000 +0100,Foggy,snow,-1.038889,-4.400000,1.00,9.4990,199,0.1610,1031.41,Foggy throughout the day.
1566,2006-12-13 06:00:00.000 +0100,Foggy,snow,-1.088889,-4.438889,1.00,9.4346,219,0.3220,1031.98,Foggy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
93265,2016-03-28 05:00:00.000 +0200,Foggy,snow,-0.783333,-2.950000,0.99,6.1019,91,3.1073,1016.30,Foggy in the morning.
93266,2016-03-28 06:00:00.000 +0200,Foggy,snow,-1.111111,-1.111111,0.93,0.0000,0,0.1610,1016.41,Foggy in the morning.
93267,2016-03-28 07:00:00.000 +0200,Foggy,snow,-1.044444,-1.044444,1.00,0.0000,0,0.7728,1016.60,Foggy in the morning.
93311,2016-03-03 03:00:00.000 +0100,Partly Cloudy,snow,-0.511111,-0.511111,1.00,3.5098,74,14.6832,1004.57,Mostly cloudy throughout the day.
93506,2016-03-09 06:00:00.000 +0100,Foggy,snow,-0.027778,-2.705556,0.99,7.8568,320,3.0107,1014.76,Foggy in the morning.

In [20]:
# groupby()
data.groupby("Precip Type").get_group("snow")

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
1562,2006-12-13 02:00:00.000 +0100,Foggy,snow,-0.483333,-4.150000,1.00,11.0929,219,0.4830,1031.56,Foggy throughout the day.
1563,2006-12-13 03:00:00.000 +0100,Foggy,snow,-0.483333,-4.061111,0.96,10.7387,200,0.3220,1031.47,Foggy throughout the day.
1564,2006-12-13 04:00:00.000 +0100,Foggy,snow,-0.922222,-3.477778,1.00,7.0679,206,0.1610,1031.23,Foggy throughout the day.
1565,2006-12-13 05:00:00.000 +0100,Foggy,snow,-1.038889,-4.400000,1.00,9.4990,199,0.1610,1031.41,Foggy throughout the day.
1566,2006-12-13 06:00:00.000 +0100,Foggy,snow,-1.088889,-4.438889,1.00,9.4346,219,0.3220,1031.98,Foggy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
93265,2016-03-28 05:00:00.000 +0200,Foggy,snow,-0.783333,-2.950000,0.99,6.1019,91,3.1073,1016.30,Foggy in the morning.
93266,2016-03-28 06:00:00.000 +0200,Foggy,snow,-1.111111,-1.111111,0.93,0.0000,0,0.1610,1016.41,Foggy in the morning.
93267,2016-03-28 07:00:00.000 +0200,Foggy,snow,-1.044444,-1.044444,1.00,0.0000,0,0.7728,1016.60,Foggy in the morning.
93311,2016-03-03 03:00:00.000 +0100,Partly Cloudy,snow,-0.511111,-0.511111,1.00,3.5098,74,14.6832,1004.57,Mostly cloudy throughout the day.
93506,2016-03-09 06:00:00.000 +0100,Foggy,snow,-0.027778,-2.705556,0.99,7.8568,320,3.0107,1014.76,Foggy in the morning.

In [21]:
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.

In [26]:
data[data["Wind Speed (km/h)"] == 14.1197]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
618,2006-04-05 18:00:00.000 +0200,Overcast,rain,14.950000,14.950000,0.51,14.1197,159,11.2056,1006.26,Foggy in the morning.
646,2006-04-06 22:00:00.000 +0200,Overcast,rain,4.977778,1.877778,0.93,14.1197,339,8.0500,1014.08,Overcast throughout the day.
1264,2006-08-03 16:00:00.000 +0200,Mostly Cloudy,rain,24.877778,24.877778,0.64,14.1197,79,11.2700,1004.12,Mostly cloudy throughout the day.
1885,2006-12-25 13:00:00.000 +0100,Mostly Cloudy,rain,3.811111,0.450000,0.86,14.1197,307,13.9748,1030.81,Foggy in the morning.
...,...,...,...,...,...,...,...,...,...,...,...
94761,2016-11-28 13:00:00.000 +0100,Mostly Cloudy,rain,6.233333,3.422222,0.80,14.1197,185,10.5777,1019.19,Mostly cloudy throughout the day.
94784,2016-11-29 12:00:00.000 +0100,Mostly Cloudy,rain,5.650000,2.700000,0.81,14.1197,181,8.2915,1019.51,Mostly cloudy throughout the day.
94785,2016-11-29 13:00:00.000 +0100,Mostly Cloudy,rain,6.072222,3.222222,0.80,14.1197,185,10.5133,1019.23,Mostly cloudy throughout the day.
94833,2016-11-30 13:00:00.000 +0100,Mostly Cloudy,rain,5.911111,3.027778,0.80,14.1197,185,10.4650,1019.27,Mostly cloudy throughout the day.
96371,2016-09-06 14:00:00.000 +0200,Mostly Cloudy,rain,20.966667,20.966667,0.63,14.1197,59,10.3523,1017.84,Mostly cloudy starting overnight.

In [34]:
# isnull()
data.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [38]:
data.rename(columns={"Precip Type":"Wether Condition"}, inplace=True)

In [39]:
data.head(2)

,Formatted Date,Summary,Wether Condition,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.

In [40]:
data["Visibility (km)"].mean()

10.347324929237148

In [41]:
data["Pressure (millibars)"].std()

116.96990568258147

In [42]:
data["Humidity"].var()

0.03820959171844407

In [43]:
# value_counts()
#data.head(2)
data["Wether Condition"].value_counts()

rain    85224
snow    10712
Name: Wether Condition, dtype: int64

In [45]:
# using filtering
data[data["Wether Condition"]=="rain"]

,Formatted Date,Summary,Wether Condition,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,1016.16,Partly cloudy starting in the morning.

In [56]:
# str.contains()
data["Wether Condition"].str.contains("rain")

0        True
1        True
2        True
3        True
4        True
         ...
96448    True
96449    True
96450    True
96451    True
96452    True
Name: Wether Condition, Length: 96453, dtype: object

In [57]:
data[(data["Wind Speed (km/h)"] > 11.0446) & (data["Visibility (km)"] > 15.8263)]

,Formatted Date,Summary,Wether Condition,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
142,2006-04-14 22:00:00.000 +0200,Mostly Cloudy,rain,12.150000,12.150000,0.72,11.2539,8,15.8746,1014.89,Mostly cloudy throughout the day.
742,2006-08-01 22:00:00.000 +0200,Partly Cloudy,rain,24.138889,24.138889,0.70,12.8478,17,15.8746,1007.07,Partly cloudy starting overnight.
927,2006-08-17 15:00:00.000 +0200,Clear,rain,31.133333,30.600000,0.36,11.1734,160,16.0517,1011.95,Partly cloudy until morning.
1099,2006-08-23 19:00:00.000 +0200,Partly Cloudy,rain,21.138889,21.138889,0.63,13.8782,260,16.1000,1015.09,Partly cloudy starting in the morning.
2781,2006-02-05 21:00:00.000 +0100,Clear,snow,-7.222222,-13.000000,0.68,13.7655,22,15.8746,1027.49,Foggy starting overnight continuing until morn...
...,...,...,...,...,...,...,...,...,...,...,...
96441,2016-09-09 12:00:00.000 +0200,Partly Cloudy,rain,28.866667,28.216667,0.37,13.9265,61,16.1000,1015.35,Partly cloudy starting in the morning.
96442,2016-09-09 13:00:00.000 +0200,Partly Cloudy,rain,30.994444,29.972222,0.33,15.6170,70,16.1000,1014.86,Partly cloudy starting in the morning.
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40,16.1000,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40,16.1000,1013.97,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21,16.1000,1014.07,Partly cloudy starting in the morning.

In [58]:
data.groupby("Wether Condition").mean()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
Wether Condition,,,,,,,
rain,13.852989,13.013425,0.718699,10.971219,189.123170,10.830711,1002.764548
snow,-3.270885,-6.249847,0.863263,9.481998,174.754294,6.636570,1006.216970

In [59]:
data.groupby("Wether Condition").min()

,Formatted Date,Summary,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
Wether Condition,,,,,,,,,,
rain,2006-01-01 00:00:00.000 +0100,Breezy,0.005556,-7.550000,0.0,0.0,0,0.0,0.0,Breezy and foggy starting in the evening.
snow,2006-01-07 19:00:00.000 +0100,Breezy,-21.822222,-27.716667,0.0,0.0,0,0.0,0.0,Breezy and foggy starting in the evening.

In [60]:
data.groupby("Wether Condition").max()

,Formatted Date,Summary,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
Wether Condition,,,,,,,,,,
rain,2016-12-31 20:00:00.000 +0100,Windy and Partly Cloudy,39.905556,39.344444,1.0,63.8526,359,16.1,1042.38,Windy in the afternoon.
snow,2016-12-31 23:00:00.000 +0100,Windy and Overcast,0.000000,0.000000,1.0,44.8868,359,16.1,1046.38,Partly cloudy until night.

In [68]:
data[data["Wether Condition"] =="rain"]
#data["Wether Condition"].value_counts()

,Formatted Date,Summary,Wether Condition,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,1016.16,Partly cloudy starting in the morning.

In [69]:
data[(data['Wether Condition'] == "rain") | (data["Visibility (km)"] == 15.5204)]

,Formatted Date,Summary,Wether Condition,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,1016.16,Partly cloudy starting in the morning.

In [71]:
result1 = data.loc[:5:2,"Humidity":"Visibility (km)":2]
result1

   Humidity  Wind Bearing (degrees)
0      0.89                     251
2      0.89                     204
4      0.83                     259

In [76]:
result2 = data[:6:2][["Humidity","Visibility (km)"]]
result2

   Humidity  Visibility (km)
0      0.89          15.8263
2      0.89          14.9569
4      0.83          15.8263

In [83]:
result1 == result2

   Humidity  Visibility (km)
0      True             True
2      True             True
4      True             True